{% extends 'user_layout.html' %}
{% load static %}
{% load cache %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/friends_menu.min.css' %}">
    <link rel="apple-touch-icon" href="/logo192.png"/>
    <link rel="manifest" href="/manifest.json"/>
    <link href="{% static 'css/main.5004deb4.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Друзья{% endblock %}

{% block main %}
    <section class="friends__wrapper">
        <section class="profile">
            {% include 'profile_sidebar.html' %}
        </section>
        <section class="friends">
            <noscript>You need to enable JavaScript to run this app.</noscript>
            <div class="friends" id="root"></div>
        </section>
        {% include 'news_layout.html' %}
    </section>
{% endblock %}
{% block scripts %}
    <script defer="defer" src="/static/js/main.b5e35b70.js"></script>
{% endblock %}
