{% extends 'user_layout.html' %}
{% load static %}
{% load cache %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/friends_menu.min.css' %}">
    <link href="{% static 'css/main.5004deb4.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'styles/upload_avatar.css' %}">
{% endblock %}

{% block title %}Друзья{% endblock %}

{% block main %}
	{% cache 60 friends_page %}
    <section class="friends__wrapper">
        <section class="profile">
            {% include 'profile_sidebar.html' %}
        </section>
        <section class="friends">
            <noscript>You need to enable JavaScript to run this app.</noscript>
            <div class="friends" id="root"></div>
        </section>
        {% include 'news_layout.html' %}
    </section>
	{% endcache %}
{% endblock %}
{% block scripts %}
    <script defer="defer" src="{% static 'js/friends_menu.js' %}"></script>
{% endblock %}
